*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
section{
    position:relative;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
section header{
position:absolute;
width: 100%;
top:0;
display: flex;
justify-content: flex-end;
padding: 20px;
}
section header ul{
display:flex;
justify-content: center;
align-items: center;
}
section header ul li{
    list-style: none;
    margin-left:20px;
}
section header ul li a{
    color:#111;
    text-decoration: none;
    font-size:13px;
}
section header ul li button{
    background-color: #1a73a8;
    color:#fff;
    padding:10px 24px;
    border:none;
    outline:none;
    font-weight:700;
    cursor:pointer;
    border-radius: 3px;
}
section .main{
    width: 90%;
    max-width: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section .main .searchbox{
    position:relative;
    width:100%;
    top:20px;
}
section .main .searchbox .search
{
    width: 100%;
    padding:15px;
    padding-left: 45px;
    padding-right: 60px;
    border-radius: 30px;
    outline:none;
    border:1px solid #ccc;
}
section .main .searchbox .icon{
    position:absolute;
    width: 100%;
    top:0;
    padding:12px 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    pointer-events:none;
}
section .main .buttons{
    margin-top:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}
section .main .buttons button{
padding:13px 20px;
font-size: 13px;
border: none;
cursor: pointer;
border-radius: 4px;
border:1px solid transparent;
outline:none;
background-color: #f8f9fa;
}

