*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:arial;

}
.nabbar{
    background-color: #0f1111;
    height: 60px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nab-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(amazon_logo.png);
    height: 50px;
    width: 100%;
    background-size: cover;
}
.nab-logo{
    border:1.5px solid transparent;
}
.border:hover{
    border:1.5px solid white;
}
/* box 2*/
.address-first{
color:#cccccc;
font-size:0.85rem;
margin-left:20px
}
.address-sec{
font-size:1rem;
}
.add-icon{
    display:flex;
    align-items: center;
}
.navaddress{
    border:1px solid transparent;
    font-weight: 700;
}
.navaddress:hover{
    border:1px solid white;
}
/*box3*/
.search-nav{
    margin-left:2%;
display: flex;
justify-content: space-evenly;
background-color:#fcf267e1;
width: 620px;
height: 40px;
border-radius:4px;
}
.search-nav:hover{
    border:2px solid orange;
}
.search-select{
    background-color: #f3f3f3;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 50px;
    text-align: center;
    border:none;
}    
.search-input{
    width:100%;
    border:none;
    font-size:1rem;
    outline: none;
}
.search-icon{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.2rem;
    color:#0f1111;
}
/** box 4 **/
span{
    font-size: 0.7rem;
    font-weight: 700;
}
.nav-second{
    font-size:0.85rem;
    font-weight: 700;
}
/** box 5**/ 
.nav-cart i{
    font-size:25px;
}
.nav-cart{
    font-size:0.85rem;
    font-weight: 700;
}
.panel{
    height:40px;
    background-color: #222f3d;
    color:#fff;
    display:flex;
    align-items: center;
    justify-content:;
    font-weight: 700;
}
.panal-ops{
    margin-left: 5%;;
}
.panal-ops a{
    color:#fff;
    text-decoration:none;
    font-weight: 700;
    margin-left: 20px;
}
/** hero-section**/
.hero-section{
    background-image:url(hero_image.jpg);
    height:400px;
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    
}
.hero-masseg{
    background-color:rgba(255, 255, 255, 0.781);
    color:black;
    height:30px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-bottom: 20px;
    width: 95%;
    font-weight: 600;
    border-radius: 2px;
    ba

}
.hero-masseg a{
    text-decoration:none;
    color:#007185;
}
.shop-section{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 400px;
    width:23%;
    background-color: white;
    padding:20px 0px 15px;
    margin-top:15px;
}
.box-img{
    height: 300px;
    background-size:cover;
    background-repeat: no-repeat;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
/** foote penel**/
footer{
    margin-top:20px;
}
.foot-panel1{
    background-color:#37475a;
    color:white;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:0.85rem;
}
.foot-panel2{
    background-color:#222f3d;
    color:white;
    display:flex;
    justify-content: space-evenly;
    height: 40vh;
}
.foot-panel2 ul {
margin-top:50px;
}
.foot-panel2 ul li{
    list-style:none;
    margin-bottom:10px;
}
.foot-panel2 ul li a{
    color:white;
    text-decoration: none;
    font-size:0.85rem;
}
.pteg{
    font-size:1.1rem;
}
.foot-panel3{
    height: 70px;
    background-color: #222f3d;
    border-top:0.5px solid white;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-logo{
background-image:url(amazon_logo.png);
width: 120px;
height: 70px;
background-size: cover;
}